<% @ramen %>
<br>
<p>
  <h3>Name:</h3>
  <%= @ramen.name %>
</p>

<p>
  <h3>Stock:</h3>
  <%= @ramen.stock %>
</p>

<p>
  <h3>Size:</h3>
  <%= @ramen.size %>
</p>

<p>
  <h3>Price:</h3>
  <%= @ramen.price %>
</p>

<p>
  <h3>Card id:</h3>
  <%= @ramen.card_id %>
</p>

<%= link_to 'Back', ramens_path %>
